<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpage | <%= title%></title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Bangers&family=Bebas+Neue&family=Cinzel:wght@500&family=Comfortaa&family=Kdam+Thmor+Pro&family=Koulen&family=Libre+Bodoni:ital@1&display=swap");
    * {
      font-family: "Kdam Thmor Pro", sans-serif;
    }

    body {
      background-color: antiquewhite;
      margin: 0;
      padding: 0;
    }

    nav {
      background-color: antiquewhite;
      margin: 0;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 3px 5px gray;
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
    nav ul li {
      display: flex;
      list-style-type: none;
    }
    nav ul a {
      color: black;
      margin: auto;
      font-size: large;
      text-decoration: none;
      padding-inline: 10px;
    }
    nav ul a.navbar-brand {
      text-transform: capitalize;
      font-size: x-large;
      margin-inline-end: 30px;
      text-shadow: 2px 2px silver;
    }
    h1,
    h2,
    h4,
    p {
      margin-left: 5px;
      text-align: center;
    }
    div.container {
      margin: auto;
      padding: 15px;
      width: 35%;
      box-shadow: 0 3px 5px 4px gray;
      border-radius: 30px;
      overflow-wrap: break-word;
    }
    div.container.blog {
      margin: auto;
      padding: 15px;
      width: 80%;
      box-shadow: 0 3px 5px 4px gray;
      border-radius: 20px;
      overflow-wrap: break-word;
    }
    button {
      display: block;
      margin: 0 auto;
      font-size: large;
    }
    button:hover {
      cursor: pointer;
      border-radius: 15px;
    }
    div form {
      margin: 20px auto;
      padding: 10px 0;
      text-align: center;
      border: 2px solid black;
      width: 40%;
      border-radius: 10%;
    }
    div form input {
      height: 1.8rem;
    }
    a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>
