<nav>
  <ul>
    <li><a class="navbar-brand" href="">Blogs</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/add-blog">Add Blog</a></li>
  </ul>
</nav>
