<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <h1>About Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat,
      delectus doloribus iusto quidem debitis temporibus, itaque voluptate
      dignissimos aperiam porro architecto distinctio nesciunt facere tenetur
      dolor in velit odio eius. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Tempore, numquam vitae odio impedit, ducimus quaerat
      sequi suscipit consequatur similique quis, aut laborum. Eos excepturi
      omnis vero facere modi, sit rem!
    </p>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
